# Server-side Keys (Private)
DEEPGRAM_API_KEY=your_deepgram_api_key

# Optional Server Config
PORT=3001

MONGODB_URI=your_mongodb_connection_string

RESEND_API_KEY=your_resend_api_key

NEXTAUTH_SECRET=your_nextauth_secret
NEXTAUTH_URL=http://localhost:3000

NEXT_PUBLIC_USE_DUMMY_DB=true