# Server-side Keys (Private)
DEEPGRAM_API_KEY=b4518014428b04d4e7c26d4ff69f1f3dcfd5fceb
 
 
# Optional Server Config
PORT=3001
 
MONGODB_URI=mongodb+srv://tester:tester_password_123@cluster0.ekrrkeo.mongodb.net/Call_QA_dummy?retryWrites=true&w=majority
 
REOON_API_KEY=jBvou33o5djIlmL38C7ffJpfWWAdvQ7B
 
NEXTAUTH_SECRET=4dc877f6cbc5b8124ed20a45c2b024ce5fcab66778e45dd1329205aa989c03e0
NEXTAUTH_URL=http://localhost:3000
NEXT_PUBLIC_USE_DUMMY_DB=true